@import "./../app/styles/_Base";
@import "./../app/styles/_GridSystem";

.category-path {
  padding-top: pixelToRem(16px);
  padding-bottom: pixelToRem(16px);
  line-height: 0;

  ol {
    li {
      display: inline;
      color: map-get($colors, grey-ligthen-1);
      font-size: map-get($font-sizes, xs);
    }
  }

  @media (max-width: map-get($breakpoints, xs)) {
    display: none;
  }
}
