@mixin search-input () {
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: 0;
  line-height: 35px;
  box-sizing: border-box;
  padding-left: 15px;
}

@mixin search-icon () {
  background-image: url('./../App/Assets/images/ic_Search.png');
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

form.searchbox {
  border-radius: 3px;
  position: absolute;
  left: 256px;
  margin-top: 8px;

  input {
    @include search-input();
    width: 850px;
  }

  button {
    float: right;
    padding: 10px;
    border: 0;
    background-color: #EEEEEE;
    text-align: center;
    i {
      @include search-icon();
      width: 18px;
      height: 18px;
      margin: 0 auto;
    }
  }
}
