@import "./../App/Styles/_Base";

@mixin search-input () {
  font-size: pixelToRem(18px);
  border-radius: pixelToRem(5px) 0 0 pixelToRem(5px);
  border: 0;
  line-height: pixelToRem(35px);
  box-sizing: border-box;
  padding-left: pixelToRem(15px);
}

@mixin search-icon () {
  background-image: url('./../App/Assets/images/ic_Search.png');
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

form.searchbox {
  border-radius: pixelToRem(3px);
  position: absolute;
  left: pixelToRem(256px);
  margin-top: pixelToRem(8px);

  input {
    @include search-input();
    width: pixelToRem(850px);
  }

  button {
    float: right;
    padding: pixelToRem(10px);
    border: 0;
    background-color: map-get($colors, grey-ligthen-2);
    text-align: center;
    i {
      @include search-icon();
      width: pixelToRem(18px);
      height: pixelToRem(18px);
      margin: 0 auto;
    }
  }
}
